@tailwind base;
@tailwind components;
@tailwind utilities;

/* simple resets + premium background */
html,body,#__next {
  height: 100%;
}
body {
  @apply bg-gradient-to-b from-black via-[#071021] to-[#071018] text-white font-sans;
}
a { @apply underline-offset-2 hover:opacity-90; }
